<head>
    <link rel="stylesheet" tydive="text/css" href="{{ url_for('static', filename='css/form.css') }}" />
</head>

{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        <h1>Adding a Department</h1> 
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label() }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>

        <p>
            {{ form.chief.label() }}<br>
            {{ form.chief(class="form-control") }}<br>
            {% for error in form.chief.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>

        <p>
            {{ form.members.label() }}<br>
            {{ form.members(class="form-control") }}<br>
            {% for error in form.members.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>

        <p>
            {{ form.email.label() }}<br>
            {{ form.email(class="form-control", type='email') }}<br>
            {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>

        <a class="btn btn-dark button" href="/department">Back</a>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
{% endblock %}