<head>
    <link rel="stylesheet" tydive="text/css" href="{{ url_for('static', filename='css/log_5000.css') }}" />
</head>

{% extends "base.html" %}

{% block content %}
    <div class="container">
        <table>
            <tr><td colspan="5"><center><h1>Works log</h1></center></td></tr>

            {% for dict in data %}
                <tr><td><br></td></tr>
                <tr><th>Action # {{ dict['id'] }}</th></tr>
                <tr class="list">
                    <td>Title of activity</td>
                    <td>Team leader</td>
                    <td>Duration</td>
                    <td>List of collaborators</td>
                    <td>Is finished</td>
                </tr>
                <tr>
                    <td>{{ dict['job'] }}</td>
                    <td>{{ dict['leader_name'] }}</td>
                    <td>{{ dict['duration'] }}</td>
                    <td>{{ dict['collaborators'] }}</td>
                    <td>{{ dict['is_finished'] }}</td>
                </tr>
                {% if current_user_id == 1 or current_user_id == dict['leader'] %}
                    <tr><td><br></td></tr>
                    <tr><td><a class="btn btn-warning" href="/editjob/{{ dict['id'] }}">Edit job</a><a class="btn btn-danger", href="/deletejob/{{ dict['id'] }}">Delete job</a></td></tr>
                {% endif %}
            {% endfor %}
        </table>

        <div class="button_container">
            <a class="btn btn-success", href="/addjob">Add job</a>
            <a class="btn btn-dark", href="/department">Department</a>
        </div>
    </div>
{% endblock %}
