<head>
    <link rel="stylesheet" tydive="text/css" href="{{ url_for('static', filename='css/work_log.css') }}" />
</head>

{% extends "base.html" %}

{% block content %}
    <center>
        <table>
            <tr><h1>Works log</h1></tr>

            {% for dict in data %}
            <tr><td><br></td></tr>
            <tr><th>Action # {{ dict['id'] }}</th></tr>
            <tr class="list">
                <td>Title of activity</td>
                <td>Team leader</td>
                <td>Duration</td>
                <td>List of collaborators</td>
                <td>Is finished</td>
            </tr>
            <tr>
                <td>{{ dict['job'] }}</td>
                <td>{{ dict['leader'] }}</td>
                <td>{{ dict['duration'] }}</td>
                <td>{{ dict['collaborators'] }}</td>
                <td>{{ dict['is_finished'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
{% endblock %}
